[submodule "Acroy/vendor/spdlog"]
	path = Acroy/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Acroy/vendor/glfw"]
	path = Acroy/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Acroy/vendor/glm"]
	path = Acroy/vendor/glm
	url = https://github.com/g-truc/glm
